<div class="container home">
    <div class="row">
        <div class="homePage col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Lovers are like peaches</span>
                    <p class="flow-text">They're sweet but they go bad quickly</p>
                </div>
                <div class="card-action">
                    <a href="./survey" class="waves-effect waves-light btn">Find your next peach</a>
                </div>
            </div>
        </div>
    </div>
</div>